<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Automall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KeyBoardTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1895C0331E134C1F0052D1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1895C04C1E134C1F0052D1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1895C0571E134C1F0052D1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF23A6121E2632300067ED48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
